<div class="container-fluid bg-surface-light">
  <div class="gx-0 row">
    <div class="min-h-screen vstack p-6 col-lg-6">
      <div class="my-auto">
        <div class="max-w-screen-sm mx-auto">
          <h2 class="card-title text-center mb-4">Admin Sign Up</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
            <%= render "admins/shared/error_messages", resource: resource %>
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
              <div class="invalid-feedback">
                Please provide a valid email.
              </div>
            </div>
            <div class="mb-3">
              <%= f.label :password, class: "form-label" %>
              <% if @minimum_password_length %>
              <em class="d-block">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
              <div class="invalid-feedback">
                Please provide a password.
              </div>
            </div>
            <div class="mb-3">
              <%= f.label :password_confirmation, class: "form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
              <div class="invalid-feedback">
                Please confirm your password.
              </div>
            </div>
            <div class="mb-3 text-center">
              <%= f.submit "Sign up", class: "btn btn-primary next-step w-full mt-4" %>
            </div>
            <%= render "admins/shared/links" %>

          <% end %>
        </div>
      </div>
    </div>

    <div class="min-h-screen bg-paris-green d-none d-lg-block bg-cover-center-nr col-lg-6 p-6">
      <div class="m-auto vstack h-full justify-content-center align-items-center"> 
        <%= image_tag 'admin.svg', width: '600' %>
      </div>
    </div>
  </div>
</div>
